  .profile-wrapper > :first-child > :first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
} 

.profile-avatar > img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}


